/* ======================================================
   Styles for BYU-I CIT301B:02 Group 1 ZenGarden project.
   Group members include: Raia Richards-Peart
                          Gregory Sargent
                        
                          Tyler Wilhelm
   ======================================================
*/
$color-1: #5f8ee4; // Cornflower Blue - Action color
$color-2: #305597; // Dark Blue
$color-3: #e4655f; // Red
$color-4: #e6e6e6; // light grey
$color-5: #ffffff; // white

/* Typography partial work by Tyler Wilhelm */
@import "partials/typography";

/* Colors partial work by Tyler Wilhelm */
@import 'partials/colors';


/* Base scss file worked on by everyone */
@import "partials/base";

/* Header/banner styles partial work by Raia Richards-Peart */


/* Footer partial work by Gregory Sargent */
//@import "partials/footer";

/* Aside partial work by Gregory Sargent */
//@import "partials/aside";

@import "partials/gregs-stuff";
@import "partials/header";

@import "partials/body";
