/* ======================================================
   Styles for BYU-I CIT301B:02 Group 1 ZenGarden project.
   Group members include: Raia Richards-Peart
                          Gregory Sargent
                          McKenzie Taggart
                          Tyler Wilhelm
   ======================================================
*/
/* Typography partial work by Tyler Wilhelm */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
/* Colors partial work by Tyler Wilhelm */
/* Mobile styles partial work by McKenzie Taggart */
/* Base scss file worked on by everyone */
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body {
  display: flex;
  background: linear-gradient(260deg, white, lightgray);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 0 100px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px; }

#zen-requirements {
  margin-bottom: 200px; }

/* Header/banner styles partial work by Raia Richards-Peart */
#zen-intro {
  background: #19191a;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #19191a, #0037e1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #19191a, #0037e1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #19191a, #0037e1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #19191a, #0037e1);
  /* Standard syntax */ }

#zen-intro a {
  border: 4px outset;
  padding: 2px;
  text-decoration: none; }

/** *****************Peart Section Styling********************** **/
#zen-intro {
  background: #19191a;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #19191a, #0037e1);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #19191a, #0037e1);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #19191a, #0037e1);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #19191a, #0037e1);
  /* Standard syntax */ }

#zen-intro a {
  border: 4px outset;
  padding: 2px;
  text-decoration: none; }

#zen-intro a:active {
  border: 4px inset; }

header h1 {
  margin-left: 25%;
  color: yellow; }

header h2 {
  background: transparent url(images/h2.gif) no-repeat;
  margin-left: 25%;
  width: 220px;
  height: auto;
  padding: 4px;
  text-indent: 100%;
  display: block;
  color: transparent; }

header {
  padding-top: 20px;
  height: 87px; }

.summary {
  margin-left: 25%;
  padding-top: 4%;
  color: white; }

.preamble {
  margin-left: 25%;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 60%;
  color: white; }

/* Footer partial work by Gregory Sargent */
/* Aside partial work by Gregory Sargent */
body {
  display: block;
  background: linear-gradient(260deg, white, lightgray);
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0 0 100px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px; }

footer {
  position: absolute;
  top: 170px;
  right: 10vw; }
  footer .zen-validate-html {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/html5.svg"); }
  footer .zen-validate-css {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/css3.svg"); }
  footer .zen-license {
    display: inline-block;
    margin-right: 10px;
    width: 21px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/creative-commons.svg"); }
  footer .zen-accessibility {
    display: inline-block;
    margin-right: 10px;
    width: 21px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/accesibility.svg"); }
  footer .zen-github {
    display: inline-block;
    width: 21px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/github.svg"); }

.sidebar {
  background: linear-gradient(150deg, #79A8FF, #1D4DA7);
  border-radius: 20px;
  box-shadow: 0px 30px 100px -25px #000;
  color: white;
  display: flex;
  font-size: 13px;
  font-weight: 200;
  margin: 0 0 10vw 10vw;
  max-width: 540px;
  padding: 40px 50px; }
  .sidebar h3 {
    font-size: 18px;
    text-transform: uppercase; }
  .sidebar .wrapper {
    margin: 0 auto;
    width: 100%; }
  .sidebar .design-selection h3 {
    text-align: center; }
  .sidebar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none; }
  .sidebar li {
    margin-bottom: 35px;
    margin-right: 75px; }
  .sidebar a, .sidebar a:visited {
    text-decoration: none;
    color: white; }
  .sidebar .design-name {
    font-weight: bold;
    font-size: 18px;
    display: block; }
  .sidebar .design-name:before {
    content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/external-link.svg);
    margin-right: 12px;
    margin-left: -27px; }
  .sidebar .designer-name {
    font-size: 13px;
    font-weight: 600; }
  .sidebar #design-archives h3 {
    margin-left: 40px;
    margin-bottom: 30px; }
  .sidebar #design-archives ul {
    display: flex;
    justify-content: flex-start; }
  .sidebar #design-archives a, .sidebar #design-archives a:visited {
    display: block;
    background-color: #E4655F;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 50px -15px black;
    transition: background 250ms ease; }
  .sidebar #design-archives a:hover {
    background-color: #dd3b33; }
  .sidebar #design-archives .indicator {
    display: none; }

#zen-resources {
  display: flex;
  position: absolute;
  margin-top: 125px;
  border-top: 2px solid #B1B1B1;
  width: 90%;
  left: 5%;
  color: black; }
  #zen-resources h3 {
    font-size: 15px;
    font-weight: 300;
    color: #848484;
    text-transform: capitalize; }
  #zen-resources a, #zen-resources a:visited {
    color: black; }

@media only screen and (max-width: 899px) {
  .sidebar {
    margin-top: 200px;
    width: 100vw; } }
@media only screen and (max-width: 500px) {
  .requirements p:last-of-type {
    background-color: #333333;
    color: white;
    float: none;
    margin-right: 0;
    margin-left: 0;
    max-width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: left; }

  footer {
    display: flex;
    justify-content: center;
    position: absolute;
    float: left;
    top: 200px;
    left: 0;
    bottom: 1;
    right: none;
    text-align: center; }
    footer .zen-validate-html {
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      overflow: hidden;
      text-indent: -9999px;
      background-repeat: no-repeat;
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/html5.svg"); }
    footer .zen-validate-css {
      display: inline-block;
      margin-right: 10px;
      width: 20px;
      overflow: hidden;
      text-indent: -9999px;
      background-repeat: no-repeat;
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/css3.svg"); }
    footer .zen-license {
      display: inline-block;
      margin-right: 10px;
      width: 21px;
      overflow: hidden;
      text-indent: -9999px;
      background-repeat: no-repeat;
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/creative-commons.svg"); }
    footer .zen-accessibility {
      display: inline-block;
      margin-right: 10px;
      width: 21px;
      overflow: hidden;
      text-indent: -9999px;
      background-repeat: no-repeat;
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/accesibility.svg"); }
    footer .zen-github {
      display: inline-block;
      width: 21px;
      overflow: hidden;
      text-indent: -9999px;
      background-repeat: no-repeat;
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/github.svg"); }

  .sidebar {
    display: block;
    background: #333333;
    border-radius: 0;
    box-shadow: none;
    color: white;
    font-size: 13px;
    font-weight: 200;
    margin: 0;
    max-width: none;
    width: 100vw;
    padding: 10px; }
    .sidebar h3 {
      font-size: 18px;
      text-transform: uppercase; }
    .sidebar .wrapper {
      margin: 0 auto;
      width: 100%; }
    .sidebar .design-selection h3 {
      text-align: left;
      padding-left: 10px;
      margin-bottom: 50px;
      margin-top: 50px; }
    .sidebar ul {
      display: block;
      list-style-type: none; }
    .sidebar li {
      margin-bottom: 35px;
      margin-right: 75px; }
    .sidebar a, .sidebar a:visited {
      text-decoration: none;
      color: white; }
    .sidebar .design-name {
      font-weight: bold;
      font-size: 18px;
      display: block; }
    .sidebar .design-name:before {
      content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1204905/external-link.svg);
      margin-right: 12px;
      margin-left: -27px; }
    .sidebar .designer-name {
      font-size: 13px;
      font-weight: 600; }
    .sidebar #design-archives h3 {
      margin-left: 40px;
      margin-bottom: 30px; }
    .sidebar #design-archives ul {
      display: flex;
      justify-content: flex-start; }
    .sidebar #design-archives a, .sidebar #design-archives a:visited {
      display: block;
      width: 90vw;
      background-color: #E4655F;
      font-size: 16px;
      padding: 15px;
      text-align: center;
      border-radius: 5px;
      box-shadow: 0 5px 50px -15px black;
      transition: background 250ms ease; }
    .sidebar #design-archives a:hover {
      background-color: #dd3b33; }
    .sidebar #design-archives .indicator {
      display: none; }

  #zen-resources {
    display: none; } }
.main:not(footer) {
  max-width: 100%;
  margin: auto;
  padding-top: 20px; }
  .main:not(footer) div {
    width: 70%;
    margin: auto;
    padding: 2.5%;
    border-radius: 20px;
    background-color: rgba(95, 142, 228, 0.7);
    margin-top: 20px; }

.explanation h3:first-child {
  text-align: center;
  width: 45%;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  background-color: #5f8ee4;
  color: white;
  border-radius: 5px; }
.explanation p {
  font-size: 14px;
  padding-right: 5px;
  color: #ffffff; }
  .explanation p a {
    color: #e6e6e6;
    text-decoration: none; }
  .explanation p a:hover {
    color: #305597; }

.participation h3:first-child {
  text-align: center;
  width: 45%;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  background-color: #5f8ee4;
  color: white;
  border-radius: 5px; }
.participation p {
  font-size: 14px;
  padding-right: 5px;
  color: #ffffff; }
  .participation p a {
    color: #e6e6e6;
    text-decoration: none; }
  .participation p a:hover {
    color: #305597; }

.benefits h3:first-child {
  text-align: center;
  width: 45%;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  background-color: #5f8ee4;
  color: white;
  border-radius: 5px; }
.benefits p {
  font-size: 14px;
  padding-right: 5px;
  color: #ffffff; }
  .benefits p a {
    color: #e6e6e6;
    text-decoration: none; }
  .benefits p a:hover {
    color: #305597; }

.requirements h3:first-child {
  text-align: center;
  width: 45%;
  height: 40px;
  line-height: 40px;
  padding: 5px;
  background-color: #5f8ee4;
  color: white;
  border-radius: 5px; }
.requirements p {
  font-size: 14px;
  padding-right: 5px;
  color: #ffffff; }
  .requirements p a {
    color: #e6e6e6;
    text-decoration: none; }
  .requirements p a:hover {
    color: #305597; }

@media only screen and (max-width: 789px) {
  .explanation h3:first-child {
    text-align: center;
    width: 45%;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    background-color: #5f8ee4;
    color: white;
    border-radius: 5px; }
  .explanation p {
    font-size: 14px;
    padding-right: 5px;
    color: #ffffff; }
    .explanation p a {
      color: #e6e6e6;
      text-decoration: none; }
    .explanation p a:hover {
      color: #305597; }
  .explanation h3:first-child {
    height: 80px; } }

/*# sourceMappingURL=style.css.map */
