$body-background-color: linear-gradient(260deg, white, lightgray);
$sidebar-background-color: linear-gradient(150deg, #79A8FF, #1D4DA7);
$sidebar-font-color: white;
$footer-background-color: whitesmoke;
$footer-sidebar-font-color: white;
$footer-link-text-color: black;
$footer-text-color: #717171;
$resources-font-color: black;
$resources-heading-font-color: #848484;
$resources-border-top-color: #B1B1B1;
